<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_parallel_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="71f9e9">  <td>24/05/06 06:33:49</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestScript.setup()[pri:0, instance:TestScripts.Put_TestScript@3ad83a66]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552341957</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/05/06 06:33:49</td>   <td>-24</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_TestScript.setup()[pri:0, instance:TestScripts.Delete_TestScript@5f8e8a9d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552341957</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>24/05/06 06:33:49</td>   <td>-7</td> <td>&nbsp;</td><td title="&gt;&gt;GET_TestScript.setup()[pri:0, instance:TestScripts.GET_TestScript@2de56eb2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552341957</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/05/06 06:33:49</td>   <td>-5</td> <td>&nbsp;</td><td title="&gt;&gt;POST_TestScript.setup()[pri:0, instance:TestScripts.POST_TestScript@2ab4bc72]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552341957</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>24/05/06 06:33:49</td>   <td>-3</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.setup()[pri:0, instance:TestScripts.Patch_TestScript@5745ca0e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552341957</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/05/06 06:33:54</td>   <td>4914</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_TestScript.teardown()[pri:0, instance:TestScripts.Delete_TestScript@5f8e8a9d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552341957</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>24/05/06 06:33:54</td>   <td>4928</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.teardown()[pri:0, instance:TestScripts.Patch_TestScript@5745ca0e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552341957</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/05/06 06:33:54</td>   <td>4923</td> <td>&nbsp;</td><td title="&lt;&lt;POST_TestScript.teardown()[pri:0, instance:TestScripts.POST_TestScript@2ab4bc72]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552341957</td>   <td></td> </tr>
<tr bgcolor="71f9e9">  <td>24/05/06 06:33:54</td>   <td>4931</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestScript.teardown()[pri:0, instance:TestScripts.Put_TestScript@3ad83a66]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552341957</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>24/05/06 06:33:54</td>   <td>4918</td> <td>&nbsp;</td><td title="&lt;&lt;GET_TestScript.teardown()[pri:0, instance:TestScripts.GET_TestScript@2de56eb2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552341957</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>24/05/06 06:33:54</td>   <td>4273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate()[pri:0, instance:TestScripts.Patch_TestScript@5745ca0e]">validate</td> 
  <td>TestNG-test=Parallel_runner-1@2106900153</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/05/06 06:33:49</td>   <td>65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_TestScript.validate()[pri:0, instance:TestScripts.POST_TestScript@2ab4bc72]">validate</td> 
  <td>TestNG-test=Parallel_runner-1@2106900153</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/05/06 06:33:53</td>   <td>3856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestScript.validate()[pri:0, instance:TestScripts.Delete_TestScript@5f8e8a9d]">validate</td> 
  <td>TestNG-test=Parallel_runner-1@2106900153</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>24/05/06 06:33:49</td>   <td>65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_TestScript.validate()[pri:0, instance:TestScripts.GET_TestScript@2de56eb2]">validate</td> 
  <td>TestNG-test=Parallel_runner-2@589311950</td>   <td></td> </tr>
<tr bgcolor="71f9e9">  <td>24/05/06 06:33:54</td>   <td>4451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript.validate()[pri:0, instance:TestScripts.Put_TestScript@3ad83a66]">validate</td> 
  <td>TestNG-test=Parallel_runner-2@589311950</td>   <td></td> </tr>
</table>
