<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_DataProvider</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63b786">  <td>24/05/10 13:34:49</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_DDT_DataProvider_SameClass.setup()[pri:0, instance:TestScripts.Post_DDT_DataProvider_SameClass@5745ca0e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@549293029</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/05/10 13:34:54</td>   <td>4909</td> <td>&nbsp;</td><td title="&lt;&lt;Post_DDT_DataProvider_SameClass.teardown()[pri:0, instance:TestScripts.Post_DDT_DataProvider_SameClass@5745ca0e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@549293029</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/05/10 13:34:54</td>   <td>4364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_DDT_DataProvider_SameClass.validate_Post_API(java.lang.String,java.lang.String)[pri:0, instance:TestScripts.Post_DDT_DataProvider_SameClass@5745ca0e]">validate_Post_API</td> 
  <td>main@549293029</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/05/10 13:34:54</td>   <td>4364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_DDT_DataProvider_SameClass.validate_Post_API(java.lang.String,java.lang.String)[pri:0, instance:TestScripts.Post_DDT_DataProvider_SameClass@5745ca0e]">validate_Post_API</td> 
  <td>main@549293029</td>   <td></td> </tr>
</table>
