<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>parallel_Test_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63b786">  <td>24/05/06 06:45:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;POST_TestScript.setup()[pri:0, instance:TestScripts.POST_TestScript@5b799640]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1330247343</td>   <td></td> </tr>
<tr bgcolor="aea295">  <td>24/05/06 06:45:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;GET_TestScript.setup()[pri:0, instance:TestScripts.GET_TestScript@3932c79a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1150058854</td>   <td></td> </tr>
<tr bgcolor="f5b5dc">  <td>24/05/06 06:45:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_TestScript.setup()[pri:0, instance:TestScripts.Delete_TestScript@34bde49d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@366252104</td>   <td></td> </tr>
<tr bgcolor="b6b9cd">  <td>24/05/06 06:45:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.setup()[pri:0, instance:TestScripts.Patch_TestScript@210ab13f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@1346343363</td>   <td></td> </tr>
<tr bgcolor="e2619a">  <td>24/05/06 06:45:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestScript.setup()[pri:0, instance:TestScripts.Put_TestScript@29d80d2b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@573958827</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/05/06 06:45:43</td>   <td>4722</td> <td>&nbsp;</td><td title="&lt;&lt;POST_TestScript.teardown()[pri:0, instance:TestScripts.POST_TestScript@5b799640]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1330247343</td>   <td></td> </tr>
<tr bgcolor="aea295">  <td>24/05/06 06:45:43</td>   <td>5394</td> <td>&nbsp;</td><td title="&lt;&lt;GET_TestScript.teardown()[pri:0, instance:TestScripts.GET_TestScript@3932c79a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1150058854</td>   <td></td> </tr>
<tr bgcolor="f5b5dc">  <td>24/05/06 06:45:42</td>   <td>3686</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_TestScript.teardown()[pri:0, instance:TestScripts.Delete_TestScript@34bde49d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@366252104</td>   <td></td> </tr>
<tr bgcolor="b6b9cd">  <td>24/05/06 06:45:43</td>   <td>4719</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.teardown()[pri:0, instance:TestScripts.Patch_TestScript@210ab13f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@1346343363</td>   <td></td> </tr>
<tr bgcolor="e2619a">  <td>24/05/06 06:45:43</td>   <td>4731</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestScript.teardown()[pri:0, instance:TestScripts.Put_TestScript@29d80d2b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@573958827</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/05/06 06:45:38</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_TestScript.validate()[pri:0, instance:TestScripts.POST_TestScript@5b799640]">validate</td> 
  <td>TestNG-tests-1@1330247343</td>   <td></td> </tr>
<tr bgcolor="aea295">  <td>24/05/06 06:45:38</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_TestScript.validate()[pri:0, instance:TestScripts.GET_TestScript@3932c79a]">validate</td> 
  <td>TestNG-tests-2@1150058854</td>   <td></td> </tr>
<tr bgcolor="f5b5dc">  <td>24/05/06 06:45:38</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestScript.validate()[pri:0, instance:TestScripts.Delete_TestScript@34bde49d]">validate</td> 
  <td>TestNG-tests-3@366252104</td>   <td></td> </tr>
<tr bgcolor="b6b9cd">  <td>24/05/06 06:45:38</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate()[pri:0, instance:TestScripts.Patch_TestScript@210ab13f]">validate</td> 
  <td>TestNG-tests-4@1346343363</td>   <td></td> </tr>
<tr bgcolor="e2619a">  <td>24/05/06 06:45:38</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript.validate()[pri:0, instance:TestScripts.Put_TestScript@29d80d2b]">validate</td> 
  <td>TestNG-tests-5@573958827</td>   <td></td> </tr>
</table>
