<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Series_Runner_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab9f7a">  <td>24/05/06 23:13:47</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_TestScript.teardown()[pri:0, instance:TestScripts.Delete_TestScript@6e535154]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>24/05/06 23:13:46</td>   <td>-1417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestScript.validate_Delete_API()[pri:0, instance:TestScripts.Delete_TestScript@6e535154]">validate_Delete_API</td> 
  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="c36a80">  <td>24/05/06 23:13:40</td>   <td>-7456</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestScript.setup()[pri:0, instance:TestScripts.Put_TestScript@5b38c1ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="c36a80">  <td>24/05/06 23:13:47</td>   <td>11</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestScript.teardown()[pri:0, instance:TestScripts.Put_TestScript@5b38c1ec]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="6dbc7a">  <td>24/05/06 23:13:40</td>   <td>-7421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_TestScript.validate_Post_API()[pri:0, instance:TestScripts.POST_TestScript@43f02ef2]">validate_Post_API</td> 
  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="ab9f7a">  <td>24/05/06 23:13:40</td>   <td>-7478</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_TestScript.setup()[pri:0, instance:TestScripts.Delete_TestScript@6e535154]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="6dbc7a">  <td>24/05/06 23:13:40</td>   <td>-7459</td> <td>&nbsp;</td><td title="&gt;&gt;POST_TestScript.setup()[pri:0, instance:TestScripts.POST_TestScript@43f02ef2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="6dbc7a">  <td>24/05/06 23:13:47</td>   <td>6</td> <td>&nbsp;</td><td title="&lt;&lt;POST_TestScript.teardown()[pri:0, instance:TestScripts.POST_TestScript@43f02ef2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>24/05/06 23:13:45</td>   <td>-2283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_TestScript.validate_Get_API()[pri:0, instance:TestScripts.GET_TestScript@17bffc17]">validate_Get_API</td> 
  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>24/05/06 23:13:47</td>   <td>3</td> <td>&nbsp;</td><td title="&lt;&lt;GET_TestScript.teardown()[pri:0, instance:TestScripts.GET_TestScript@17bffc17]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="c36a80">  <td>24/05/06 23:13:47</td>   <td>-487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript.validate_Put_API()[pri:0, instance:TestScripts.Put_TestScript@5b38c1ec]">validate_Put_API</td> 
  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>24/05/06 23:13:47</td>   <td>8</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.teardown()[pri:0, instance:TestScripts.Patch_TestScript@15a34df2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="916eb0">  <td>24/05/06 23:13:40</td>   <td>-7461</td> <td>&nbsp;</td><td title="&gt;&gt;GET_TestScript.setup()[pri:0, instance:TestScripts.GET_TestScript@17bffc17]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>24/05/06 23:13:40</td>   <td>-7457</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.setup()[pri:0, instance:TestScripts.Patch_TestScript@15a34df2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@840083671</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>24/05/06 23:13:46</td>   <td>-1035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch_API()[pri:0, instance:TestScripts.Patch_TestScript@15a34df2]">validate_Patch_API</td> 
  <td>main@840083671</td>   <td></td> </tr>
</table>
