<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_data_driven_parametert</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6bcf94">  <td>24/05/09 09:41:45</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_DataDriven_Testng_xml.setup()[pri:0, instance:TestScripts.Post_DataDriven_Testng_xml@4201c465]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/05/09 09:41:48</td>   <td>3156</td> <td>&nbsp;</td><td title="&lt;&lt;Post_DataDriven_Testng_xml.teardown()[pri:0, instance:TestScripts.Post_DataDriven_Testng_xml@4201c465]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/05/09 09:41:45</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_DataDriven_Testng_xml.validate_Post_API(java.lang.String,java.lang.String)[pri:0, instance:TestScripts.Post_DataDriven_Testng_xml@4201c465]">validate_Post_API</td> 
  <td>main@2100440237</td>   <td></td> </tr>
</table>
