<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Series_Test_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e37eba">  <td>24/05/02 20:24:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestScript.setup()[pri:0, instance:TestScripts.Put_TestScript@2ab4bc72]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/02 20:24:53</td>   <td>-4</td> <td>&nbsp;</td><td title="&gt;&gt;POST_TestScript.setup()[pri:0, instance:TestScripts.POST_TestScript@7d900ecf]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>24/05/02 20:24:53</td>   <td>-2</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.setup()[pri:0, instance:TestScripts.Patch_TestScript@3de8f619]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/02 20:24:53</td>   <td>-5</td> <td>&nbsp;</td><td title="&gt;&gt;GET_TestScript.setup()[pri:0, instance:TestScripts.GET_TestScript@6cb107fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/02 20:24:53</td>   <td>-20</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_TestScript.setup()[pri:0, instance:TestScripts.Delete_TestScript@710636b0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/02 20:24:58</td>   <td>5038</td> <td>&nbsp;</td><td title="&lt;&lt;POST_TestScript.teardown()[pri:0, instance:TestScripts.POST_TestScript@7d900ecf]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>24/05/02 20:24:58</td>   <td>5040</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.teardown()[pri:0, instance:TestScripts.Patch_TestScript@3de8f619]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/02 20:24:58</td>   <td>5033</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_TestScript.teardown()[pri:0, instance:TestScripts.Delete_TestScript@710636b0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="e37eba">  <td>24/05/02 20:24:58</td>   <td>5043</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestScript.teardown()[pri:0, instance:TestScripts.Put_TestScript@2ab4bc72]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/02 20:24:58</td>   <td>5036</td> <td>&nbsp;</td><td title="&lt;&lt;GET_TestScript.teardown()[pri:0, instance:TestScripts.GET_TestScript@6cb107fd]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/02 20:24:56</td>   <td>2852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_TestScript.validate()[pri:0, instance:TestScripts.GET_TestScript@6cb107fd]">validate</td> 
  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/02 20:24:53</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_TestScript.validate()[pri:0, instance:TestScripts.POST_TestScript@7d900ecf]">validate</td> 
  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="e37eba">  <td>24/05/02 20:24:57</td>   <td>4472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript.validate()[pri:0, instance:TestScripts.Put_TestScript@2ab4bc72]">validate</td> 
  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>24/05/02 20:24:57</td>   <td>4064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate()[pri:0, instance:TestScripts.Patch_TestScript@3de8f619]">validate</td> 
  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/02 20:24:56</td>   <td>3549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestScript.validate()[pri:0, instance:TestScripts.Delete_TestScript@710636b0]">validate</td> 
  <td>main@1889057031</td>   <td></td> </tr>
</table>
